{% load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/fav.png' %}" type="image/x-icon">
    <title>{{ pagename.web }} | {{ pagename.page }}</title>
</head>
<body class="pb-5">
    
    <nav class="navbar mb-md-2  navbar-expand-sm navbar-light bg-light" >
        <div class="container mx-auto">
            <table class="w-100">
                <thead>
                    <tr>
                        <td class="text-center">
                            <a class="navbar-brand" href="/"><img style="max-width: 200px;" src="{% static 'images/logo_red.png' %}" alt=""></a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td>     
                            <p class="my-2 mx-auto text-center" style="border-bottom: 1px solid rgb(131, 131, 131); line-height: 0.1em; margin: 10px 0 20px; "><span style="background: #f8f9fa; padding: 0 10px">{{pagename.page}}</span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nav>

    <div class="container">
        <div class="col">
            <div class="col-lg-5 mx-auto my-auto">
                
                <form method="post" action="" class="form-group text-center">
                    {% csrf_token %}
                    <h3>Anda yakin ingin keluar?</h3>
                    <button class="btn btn-outline-danger rounded-pill w-100" type="submit" value='submit' name='logout'><h5 class="my-auto">Keluar</h5></button>
                </form>
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom  navbar-expand-sm navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
         
               
            <ul class="navbar-nav mx-auto ">
                
            {%for link,name,desc in nav%}
                {%if name not in 'Home'%}
                    <li class="nav-item text-nowrap text-center  {%if name in pagename.page%} active font-weight-bold bg-danger rounded font-italic {%endif%}  " style="width: 150px;">
                         <a class="nav-link {% if name in pagename.page %} text-white {% else %} text-danger {% endif %}"  href="{{link}}">{{name}}<span class="sr-only"></span></a>
                    </li>
                {%endif%}
            {%endfor%}
            
          </ul> 
            
        </div>
      </nav>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>